@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes bounce-corners {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(calc(100vw - 900px), 0); }
  50%  { transform: translate(calc(100vw - 900px), calc(100vh - 506px)); }
  75%  { transform: translate(0, calc(100vh - 506px)); }
  100% { transform: translate(0, 0); }
}

@keyframes zoom-full {
  from {
    transform: translate(0, 0) scale(1);
  }
  to {
    transform: translate(0, 0) scale(2.5);
  }
}
